In [2]:
import pandas as pd

In [11]:
url="https://raw.githubusercontent.com/Gorgens/treelab/master/manejo/inventarioContinuo.csv"
inv=pd.read_csv(url)
inv.head()

  transect  tree  common.name  ... DBH.2014  UTM.Easting  UTM.Northing
0      T01     2       macucu  ...     10.3  778459.6729   9586871.539
1      T01     5   casca seca  ...     14.9  778444.1712   9586870.399
2      T01     6      cajuacu  ...     78.9  778443.5294   9586872.461
3      T01     7  breu branco  ...     14.7  778443.2246   9586869.534
4      T01     9  breu branco  ...     10.6  778436.1941   9586869.460

[5 rows x 14 columns]

In [13]:
inv2012 = inv.loc[:,['transect', 'tree', 'scientific.name', 'DBH.2012']]
inv2012.head()

  transect  tree        scientific.name  DBH.2012
0      T01     2     Licania guianensis      10.3
1      T01     5      Licania canescens      14.6
2      T01     6  Anacardium spruceanum      78.8
3      T01     7    Protium paniculatum      14.7
4      T01     9    Protium paniculatum      10.6

In [17]:
inv2014 = inv.loc[:,['transect', 'tree', 'scientific.name', 'DBH.2014']]
inv2014 = inv2014[pd.notna(inv2014['DBH.2014'])]
# inv2014.shape
inv2014.head()

  transect  tree        scientific.name  DBH.2014
0      T01     2     Licania guianensis      10.3
1      T01     5      Licania canescens      14.9
2      T01     6  Anacardium spruceanum      78.9
3      T01     7    Protium paniculatum      14.7
4      T01     9    Protium paniculatum      10.6

In [29]:
tree2012 = inv2012.pivot_table(values='tree', index='transect', aggfunc='count')
tree2014 = inv2014.pivot_table(values='tree', index='transect', aggfunc='count')
tree2012.join(tree2014, lsuffix='_12', rsuffix='_14')

          tree_12  tree_14
transect
T01           116      112
T02           141      140
T03            92       87
T04           125      125
T05           117      115
T06           120      119
T07           132      100
T08           117      113
T09           138       99
T10           105       98
T11           114      113
T12           101       99
T13           132      132
T14           119      110
T15           118      111
T16           122      119
T17            96       89
T18           128      108
T19           114      108
T20            93       89
T21           107       95
T22           102      101

$$S_j = \frac{c}{(a+b-c)}$$

In [58]:
especies2012 = inv2012.loc[pd.notna(inv2012['scientific.name']),'scientific.name'].sort_values().unique()
especies2014 = inv2014.loc[pd.notna(inv2014['scientific.name']),'scientific.name'].sort_values().unique()

# print(especies2012)
# print(especies2014)

a = len(especies2012)
print('Número de espécies em A:', len(especies2012))

b = len(especies2014)
print('Número de espécies em B:', len(especies2014))

c = len(set(especies2012).intersection(set(especies2014)))
print('Espécies comuns:', len(set(especies2012).intersection(set(especies2014))))

print('Similaridade:', c/(a+b-c))

Número de espécies em A: 171
Número de espécies em B: 170
Espécies comuns: 170
Similaridade: 0.9941520467836257